*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    background:#e963d7;
    background-size: cover;
    min-height: 100vh;
}

nav.navbar-topo{
    padding: 15px 0px;
    background:rgba(6, 108, 241, 0.827);
    opacity: 0.6;
}

.img{
    background-position-x: center;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}

.btn-custom{
    color:azure;
    border-radius: 35px;
    /*-webkit-border-radius: 35px;
    -moz-border-radius: 35px;*/
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-color{
    background:darkviolet;
}



/*Rodape´*/

footer{
    background: #000;
    padding: 30px 0px 10px 0px;
    position:relative;
   
   
    
}

footer h4{
    color: #919496;
    font-size: 0.8em;
  
     
}

footer .navbar-nav a{
    color:white;
    font-size: 0.8em;
    text-decoration: none;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}   

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 3px;
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
    }
    
    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) { 
        
     }
    
    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) and (max-width: 1199.98px) { 
        
    }
    
    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
    
        
    }